{% extends "base/base.html" %}
{% load static %}

{% block 'conteudo' %}
<hr>


    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h6 class="text-primary mb-3">{{course.created_at}}</h6>
                        <h1 class="mb-5">{{course.name}}</h1>
                        <img class="img-fluid rounded w-100 mb-4" src="{{course.cover.url}}" alt="Image">
                        <p class='text-justify'>{{course.description}}</p>
                        
                  
                    </div>
                    <hr>

                    {% comment %} #TODO: SO PODE COMENTA QUEM FOR ALUNO DESTE CURSO {% endcomment %}
                    <!-- Comment List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{course.get_total_comments}} Comments</h3>
                        
                        {% for comment in comments %}
                            {% if comment.is_active %}
                                <div class="media mb-4">
                                    <img src="{{comment.get_author_by_user.profile_image.url}}" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                                        style="width: 45px;">
                                    <div class="media-body">
                                        <h6><strong>{{comment.author}}</strong> <small><i>{{comment.date_commented}}</i></small></h6>
                                        <p>{{comment.text}}</p>

                                        {# #TODO: COLOCAR ICON DE TRASH #}
                                        {% if request.user == comment.get_author_by_user.user %}
                                            <button class="btn btn-sm btn-danger ">Remove</button> 
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if request.user.is_authenticated %}
                    <!-- Comment Form -->
                    <div class="bg-secondary rounded p-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
                        
                        {# #TODO: UTILIZAR HTMX PARA MENSAGENS EM TEMPO REAL #}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type='text' id="input-comment"  class="form-control border-0">
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" id='btn-comment' value="Leave Comment" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                            </div>

                        </form>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">
                        <img src="{{course.teacher.profile_image.url}}" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
                        <h3 class="text-primary mb-3">{{course.teacher}}</h3>
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{course.teacher.field}}</h3>
                        <p class="text-white m-0">{{course.teacher.bio}}</p>
                    </div>

                    <!-- Search Form -->

                    <!-- Category List -->
                    <div class="mb-5">
                        <h5 class="text-uppercase mb-4" style="letter-spacing: 5px;"><strong>FAÇA A SUA MATRÍCULA</strong></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="btn btn-primary btn-lg form-control text-decoration-none m-0"><strong class='font-size-40'>(AOA) {{course.price}}</strong></a>
                            </li>
                            <li class=" d-flex justify-content-between align-items-center px-0">
                                <a href="{% url 'enrollment' %}?course={{course.slug}}" class=" text-decoration-none m-0"><strong class='font-size-40'>Quero me matricular de forma gratuita.</a>
                            </li>
                        </ul>
                    </div>


                    <!-- Category List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Cronograma</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0"><strong>MODULOS</strong></a>
                                
                                <span class="text-decoration-none h6 m-0">
                                    <strong>AULAS</strong>
                                </span>
                            </li>
                            {% for module in modules %}
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <a href="" class="text-decoration-none h6 m-0">{{module.title}}</a>
                                    
                                    <span class="badge badge-primary badge-pill">
                                        {{module.total_lesson}}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->

    {% block 'jsfiles' %}
    <script src="{% static "js/comment.js" %}"></script>
    {% endblock 'jsfiles' %}


    
{% endblock 'conteudo' %}