{% extends "base/base.html" %}
{% load static %}

{% block 'cssfiles' %}
    <link href="{% static '/bootstrp/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrp/font/bootstrap-icons.min.css' %}" rel="stylesheet">
{% endblock 'cssfiles' %}

{% block 'conteudo' %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Sobre</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Sobre</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "img/about.jpg" %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Sobre Nós</h5>
                        <h1>Forma Inovadora de Aprender</h1>
                    </div>
                    <p>
                        Ndakusoka é uma plataforma online criada com o objetivo de democratizar o acesso ao conhecimento nas áreas de negócios, marketing, tecnologia e desenvolvimento pessoal. Nossa missão é capacitar pessoas, oferecendo cursos de alta qualidade, tanto gratuitos quanto pagos, com conteúdo prático e certificado.
Acreditamos que a educação transforma vidas. Por isso, o Ndakusoka oferece um espaço inclusivo e acessível, onde qualquer pessoa pode aprender no seu próprio ritmo, com materiais desenvolvidos por especialistas em cada área.
                    </p>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Saber Mais</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    {% comment %} <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>
                <h1>O que oferecemos</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">
                                Cursos online com vídeos, textos e quizzes interativos     
                            </h4>
                            <h1>
                                <i class="bi bi-play fs-1 border w-0 m-4"></i>
                            </h1>

                            <h5 class="m-0">Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static "img/testimonial-2.jpg" %}" alt="">
                            <h5 class="m-0">Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static "img/testimonial-3.jpg" %}" alt="">
                            <h5 class="m-0">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End --> {% endcomment %}


    <style>
        .dropdown-menu {
            min-width: 300px;
        }
        .dropdown-item-text {
            white-space: normal;
        }
    </style>
</head>
<body class="bg-light py-5">
    <div class="container">
        <h1 class="text-center mb-5">O que oferecemos</h1>
        
        <div class="row g-4">
            <!-- Dropdown 1: Cursos Online -->
            <div class="col-md-6 col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownCursos" data-bs-toggle="dropdown" aria-expanded="false">
                        Cursos Online
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCursos">
                        <li><span class="dropdown-item-text">Acesso a vídeos, textos e quizzes interativos em diversas áreas do conhecimento.</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Ver cursos disponíveis</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Dropdown 2: Certificados -->
            <div class="col-md-6 col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle w-100" type="button" id="dropdownCertificados" data-bs-toggle="dropdown" aria-expanded="false">
                        Certificados Digitais
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCertificados">
                        <li><span class="dropdown-item-text">Receba um certificado digital para cada módulo concluído, válido e com código de autenticação.</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Exemplo de certificado</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Dropdown 3: Planos -->
            <div class="col-md-6 col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownPlanos" data-bs-toggle="dropdown" aria-expanded="false">
                        Cursos Gratuitos e Pagos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownPlanos">
                        <li><span class="dropdown-item-text">Escolha entre nossa seleção gratuita ou cursos premium com conteúdo exclusivo.</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Comparar planos</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Dropdown 4: Plataforma -->
            <div class="col-md-6 col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle w-100" type="button" id="dropdownPlataforma" data-bs-toggle="dropdown" aria-expanded="false">
                        Plataforma Responsiva
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownPlataforma">
                        <li><span class="dropdown-item-text">Acesse de qualquer dispositivo: celular, tablet ou computador, com experiência adaptada para cada tela.</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Testar compatibilidade</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Dropdown 5: Comunidade -->
            <div class="col-md-6 col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle w-100" type="button" id="dropdownComunidade" data-bs-toggle="dropdown" aria-expanded="false">
                        Comunidade de Apoio
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownComunidade">
                        <li><span class="dropdown-item-text">Conecte-se com outros estudantes e instrutores através de fóruns e grupos de discussão.</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Acessar comunidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap 5 JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


{% endblock 'conteudo' %}

{% comment %} /bootstrp/css/bootstrap.min.css {% endcomment %}
{% block 'jsfiles' %}
    <script src="{% static "/bootstrp/js/bootstrap.min.css" %}"></script>

{% endblock 'jsfiles' %}