
{% extends "base/modelo.html" %}
{% load static %}

{% block 'conteudo' %}
<!-- Contact Start -->
{% if messages %}
    {% for message in messages %}
    {#id='div-message'#}
    <div class="{{message.tags}} position-absolute m-3"  style='right:0'>
        <div class="">
            {{message}}
        </div>
    </div>
    {% endfor %}
{% endif %}

<div class="container-fluid py-2">
      <div class="container py-5">
          <div class="text-center mb-5">
              <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Cadastro</h5>
              <h1>Começa tua formação</h1>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-8" style='display:flex; justify-content:center;'>
                  <div class="contact-form bg-secondary rounded p-5" style='width:500px'>
                      <div id="success"></div>
                      <form name="sentMessage" id="contactForm" method='POST'>
                            
                            {% csrf_token %}
                            <div class="control-group d-flex mb-2">
                                {{formset.first_name}}
                                {# <input type="text" class="form-control border-1 p-4 mr-2" id="fname" placeholder="primeiro nome" required="required" data-validation-required-message="Please enter your email" /> #}
                                <p class="help-block text-danger"></p>
                                {{formset.last_name}}
                                {# <input type="text" class="form-control border-1 p-4 mb-2" id="lname" placeholder="sobre nome" required="required" data-validation-required-message="Please enter your email" />                                #}
                                
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{formset.email}}
                                {# <input type="email" class="form-control border-1 p-4" id="email" placeholder="email" required="required" data-validation-required-message="Please enter your email" /> #}
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <label for='date'>Nascimento</label>
                                {{formset.birth_date}}
                                {# <input type="date" class="form-control border-1" name='date' id="date" placeholder="email" required="required" data-validation-required-message="Please enter your email" /> #}
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group d-flex">
                                {{formset.password}}
                                {# <input type="text" class="form-control border-1 p-4 mr-2" id="password" placeholder="senha" required="required" data-validation-required-message="Please enter your email" /> #}
                                <p class="help-block text-danger"></p>

                                {{formset.confirm_password}}
                                {# <input type="password" class="form-control border-1 p-4" id="password-conf" placeholder="confirmar senha" required="required" data-validation-required-message="Please enter your name" /> #}
                                <p class="help-block text-danger"></p>
                            </div>
                          
                            <p class='mt-4'>
                                <span>Ja tem uma conta? <strong><a href='{% url 'signin' %}'>Logar</a><strong></span>
                            </p>

                            <div class="text-center">
                                <button class="btn btn-primary btn-lg form-control" type="submit" id="btn">Cadastrar</button>
                            </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact End -->
{% endblock 'conteudo' %}

{% block 'jsfiles' %}
{% comment %} <script src="{% static "js/message.js" %}"></script> {% endcomment %}
{% endblock 'jsfiles' %}

